* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #020617;
}

.navbar h1 {
  color: #a855f7;
}

.navbar a {
  color: #e5e7eb;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  padding: 100px 50px;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  color: #cbd5f5;
  margin-bottom: 30px;
}

.btn {
  background: linear-gradient(135deg, #7c3aed, #a855f7);
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
}

/* SECTIONS */
.section {
  padding: 70px 50px;
  text-align: center;
}

.section h2 {
  margin-bottom: 25px;
}

/* PROJECTS */
.projects {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  background: #111827;
  padding: 25px;
  width: 300px;
  border-radius: 15px;
}

.tag {
  display: inline-block;
  margin: 6px 4px;
  padding: 4px 10px;
  background: #1f2933;
  border-radius: 20px;
  font-size: 12px;
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #111827;
  padding: 10px 18px;
  margin: 6px;
  border-radius: 20px;
}

/* CONTACT */
.contact-links a {
  display: inline-block;
  margin: 15px;
  color: #a855f7;
  text-decoration: none;
  font-size: 18px;
}
